/*////////////////////Les styles globales///////////////*/
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 1em;
}
/*/ //////Les styles de l'exterieur de la montre///////////*/
body {
  background-color: rgb(0, 0, 0);
  font-family: "Courier New", Courier, monospace;
  height: 100vh;
}

h1 {
  text-align: center;
  font-size: clamp(1em, 2vw, 2em);
  margin-bottom: 2vw;
  margin-top: 5vh;
  z-index: 25;
}

.main-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 95vw;
  width: 95vw;
  max-height: 650px;
  max-width: 650px;
  background-color: #000;
}
/*///////////////Les styles de la montre///////////////////*/
.watch-dial {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 70vw;
  width: 70vw;
  max-height: 520px;
  max-width: 520px;
  background-color: #000;
  border-radius: 50%;
  /* border: 2px solid #ccff00; */
}
/*Centre du cadran*/
.dial-center {
  position: absolute;
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0f0;
  border-style: double;
  z-index: 5;
}
/*///Graduation container///*/
.hour-markers {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hour-marker {
  position: absolute;
  width: 1%;
  height: 2%;
  background-color: white;
  top: 0;
  left: 49.5%;
  transform-origin: 50% 2500%;
  z-index: 2;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}

.middle-hour-marker {
  position: absolute;
  width: 1.6%;
  height: 6%;
  background-color: #0f0;
  top: 0;
  left: 49.4%;
  transform-origin: 50% 835%;
  z-index: 2;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}

.thick-hour-marker {
  position: absolute;
  width: 2%;
  height: 10%;
  background-color: #0f0;
  top: 0;
  left: 49%;
  transform-origin: 50% 500%;
  border-radius: 80% 80% 80% 80%;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}

/*/ ///Aiguilles////*/
.hour-hand {
  position: absolute;
  left: 48%;
  top: 10%;
  width: 2%;
  height: 43%;
  background-color: #0f0;
  border-radius: 90% 90% 0% 0%;
  transform-origin: 40% 90%;
  z-index: 2;
}

.minute-hand {
  position: absolute;
  left: 49.6%;
  top: 4.9%;
  width: 1%;
  height: 50%;
  background-color: #0f0;
  border-radius: 60% 60% 0% 0%;
  transform-origin: 40% 90%;
  z-index: 3;
}

.second-hand {
  position: absolute;
  left: 50%;
  top: 0.5%;
  width: 0.6%;
  height: 55%;
  z-index: 4;
  background-color: #0f0;
  border-radius: 60% 60% 0% 0%;
  transform-origin: 40% 90%;
}

/*/////////////////////////////////Date////////////////////////////////////////*/
.calendar-complication {
  position: absolute;
  top: 50%;
  left: 82%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  color: #d4d5cc;
  font-weight: 700;
  font-size: clamp(10px, 1.5vw, 16px);
  border: 1px solid #0f0;
  padding: clamp(1px, 0.8vw, 4px) clamp(5px, 1.5vw, 12px) clamp(1px, 0.8vw, 4px)
    clamp(5px, 1.5vw, 12px);
}

/*/ ////////////////////Phase de la lune///////////////////////////////////*/
.moon-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 20%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 3vw;
  height: 3vw;
}
.moon {
  width: clamp(12px, 3vw, 30px);
  height: clamp(12px, 3vw, 30px);
  border-radius: 50%;
  overflow: hidden;
  background-color: #0f0;
  margin: 0 auto;
}
.moon-shadow {
  width: clamp(12px, 3vw, 30px);
  height: clamp(12px, 3vw, 30px);
  border-radius: 50%;
  transform: translateX(var(--moon-phase));
  opacity: var(--moon-opacity);
  transition: opacity 1s linear, transform 1s linear;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
  background-color: #000;
  margin: 0 auto;
}

/*/ ////////////////////Les idées////////////////////////////*/
/* background: linear-gradient(45deg, #0f0, #00ffff); */
